* {
    margin: 0;
    padding: 0;
}

/* Flex Containers */
.container, .header, .hero, .information, .image-container, .item, .quote-container, .banner-container, .signup-banner, .footer{
    display: flex;
}

/* Column Flex Direction Containers */
.container, .item {
    flex-direction: column;
}

/* Shared background colors */
.header, .hero, .footer{
    background-color: #1F2937;
}

.information, .banner-container {
    background-color: white;
}

/* Header & Footer Container */
.header, .footer {
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    justify-content: center;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links > a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 5px;
}

.header div {
    float: left;
}

.header div:last-child {
    float: right;
}

/* Hero */
.hero {
    padding: 50px 15%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-image {
    flex: 1.5;
    display: flex;
    width: 100%;
    height: 263px;
    background: gray;
    justify-content: center;
    align-items: center;
}

.hero-left {
    flex: 1;
    margin-right: 100px;
}

.hero-left > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 500px;
}

.hero-left > p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 1%;
}

/* Buttons */
.hero-left > button, .signup-banner > button{
    width: 150px;
    height: 45px;
    color: white;
    background-color: #3882F6;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
}

.signup-banner > button {
    border: 2px solid white;
}

/* information */
.information {
    flex-direction: column;
    align-items: center;
    padding: 40px 50px 60px 50px;
}

.information > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-container {
    justify-content: center;
    padding: 10px;
}

.information-image {
    border: solid#3882F6 5px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 50px 40px 20px 40px;
}

.item {
    flex: 1;
    align-items: center;
}

.item > p {
    font-family: "Roboto";
    width: 210px;
    text-align: center;
}

/* Quote Section */
.quote-container {
    background-color: #E5E7EB;
    padding: 100px 25% 90px 25%;
    flex-direction: column;
    align-items: center;
}

.quote-container > p {
    font-size: 36px;
    font-style: italic;
}

#author {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}

/* Banner Section */
.banner-container {
    justify-content: center;
    padding: 100px 15%;
}

.signup-banner {
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 200px;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 0 10%;
}

.signup-banner p, h2, .footer > p{
    color: white;
}